@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

.skew {
  display: none;
}

.skewed-top-right .skew-top.mr-for-radius {
  display: block;
}

.skewed-top-left .skew-top.ml-for-radius {
  display: block;
}

.skewed-bottom-right .skew-bottom.mr-for-radius {
  display: block;
}

.skewed-bottom-left .skew-bottom.ml-for-radius {
  display: block;
}

.skewed-top-right .radius-for-skewed {
  border-top-right-radius: 6rem;
}

.skewed-top-left .radius-for-skewed {
  border-top-left-radius: 6rem;
}

.skewed-bottom-right .radius-for-skewed {
  border-bottom-right-radius: 6rem;
}

.skewed-bottom-left .radius-for-skewed {
  border-bottom-left-radius: 6rem;
}
